---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <section class="grid min-h-screen px-5 py-10 place-content-center z-10">
    <h1 class="sr-only">Frontend Mentor Challenge</h1>
    <article
      class="bg-white grid grid-cols-1 overflow-hidden rounded-[0.625rem] max-w-[21.25rem] w-full sm:grid-cols-2 sm:max-w-[37.5rem]"
    >
      <h2 class="sr-only">Product Preview Card Component</h2>
      <figure class="h-60 sm:h-full w-full">
        <img
          src="product.jpg"
          class="h-full object-cover w-full"
          height={450}
          width={300}
          alt="Product"
        />
      </figure>
      <section class="p-6 sm:p-8">
        <p
          class="font-medium text-aurometal-400 text-xs tracking-[0.3125rem] uppercase"
        >
          Perfume
        </p>
        <h2 class="font-fraunces font-bold leading-8 mb-6 mt-5 text-[2rem]">
          Gabrielle Essence Eau De Parfum
        </h2>
      </section>
    </article>
  </section>
</Layout>
