---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <section class="grid min-h-screen px-5 py-10 place-content-center z-10">
    <h1 class="font-medium text-2xl">App</h1>
  </section>
</Layout>
